/* general */
@use "reset";

/* components */
@use "DragAndDrop";

nav {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

body {
  text-align: center;
  padding-top: 2em;
  background-color: #eee;
}

h1 {
  font-family: serif;
  font-size: 40px;
  color: black;
}

.content {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 3rem;
}

#Article {
  text-align: justify;

  h1 {
    text-align: center;
  }
}

a {
  color: #555;
  text-decoration: none;

  &:hover {
    background-color: #ccc;
  }
}

.table-of-contents {
  margin-top: 1rem;
}

img {
  width: 50%;
  display: block;
  margin: 1rem auto;
}

.button-list {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0.2em 1em 0.3em 1em;
  background-color: #fff;
  color: #555;
  font-weight: 700;
  border: 1px solid #bbb;
  border-radius: 0.3rem;
  box-shadow: 0.05rem 0.05rem 0.1rem #0001;
  transition: 0.2s;

  &:hover {
    background-color: #f5f5f5;
  }
}
